*.meta
*.spirv
*.cache
*.obj
*.lib
*.pdb
*.exe
*.dll
*.ilk
*.cso
*.log
*.idb
*.tlog
*.vcxproj.user
.vs
bin
build
imgui.ini
renderdoc.cap
*.cu.ptx
*.umat

runtime/assets/models
runtime/assets/textures
runtime/tmp